---
const personalImageAlt = "Antonio Plaza";
---

<article
    class="flex flex-col items-center justify-center gap-8 text-sky-100/90 dark:text-sky-100/90 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Hola, soy <span class="text-yellow-200 opacity-80 font-semibold"
                >Antonio Plaza</span
            >. Estoy encantado de que visites mi porfolio web, espero que te
            guste.
        </p>

        <p>
            Acabo de finalizar el ciclo de <span
                class="text-yellow-200 opacity-80 font-semibold"
                >Desarrollo de Aplicaciones Multiplataforma (DAM)</span
            > y he ganado experiencia práctica como Desarrollador de Software en
            CodeArts Solutions. Allí, trabajé principalmente con C# y la metodología
            Scrum, aplicando mis conocimientos en Unity.
        </p>

        <p>
            En mis proyectos académicos, he trabajado con <span
                class="text-yellow-200 opacity-80 font-semibold"
                >Java (JavaFX, FXML, Hibernate, MySQL, ObjectDB) y Kotlin
                (Android Studio)</span
            >, profundizando en el desarrollo de APIs, aplicaciones de
            escritorio y móviles. <span
                class="text-yellow-200 opacity-80 font-semibold"
                >Mi TFG de DAM se desarrolló utilizando C#, .NET y Avalonia UI.</span
            >
        </p>
        <p>
            Busco activamente oportunidades para seguir aprendiendo, <span
                class="text-yellow-200 opacity-80 font-semibold">crecer</span
            > profesionalmente y aportar valor en proyectos de <span
                class="text-yellow-200 opacity-80 font-semibold"
                >tecnología</span
            > innovadores.
        </p>
    </div>

    <img
        width="200"
        height="200"
        src="/imgAboutMe.jpeg"
        class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
