<header
  class="flex flex-wrap justify-between items-center py-4 px-4 w-full max-w-5xl mx-auto gap-y-4"
>
  <h1 class="text-lg sm:text-xl md:text-xl font-semibold">
    Bienvenido a mi web
  </h1>
  <nav class="flex flex-wrap gap-x-6 gap-y-2 opacity-80 text-base">
    <a href="#top" class="hover:text-yellow-400 transition">Inicio</a>
    <a href="#experience" class="hover:text-yellow-400 transition"
      >Experiencia</a
    >
    <a href="#projects" class="hover:text-yellow-400 transition">Proyectos</a>
    <a href="/#aboutMe" class="hover:text-yellow-400 transition">Sobre mí</a>
    <a
      href="https://www.linkedin.com/in/antonio-jos%C3%A9-plaza-cuadros-81043b152/"
      target="_blank"
      rel="noopener"
      class="hover:text-yellow-400 transition">Contacto</a
    >
  </nav>
</header>
